<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <div id="app">
        <div class="section1 section">
          <h3 class="sectionHeader">VUE Directives</h3>
          <h4 class="sectionHeader">v-html // v-once  // v-bind</h4>
          <p v-once>{{title}}
            </p>
          <p >{{title}}  </p>
          <input type="text" v-on:input="changeTitle" class="input input1"  placeholder="type..."/>
          <p style="background-color:skyblue;text-align: left; ">
            *In this example, the effect of the <code style="color: red;"> v-once </code>directive is ​​shown. First paragraph has <code style="color: red;"> v-once</code> and therefore the title value entered from the input changes only the second paragraph.
            <br>
            <br>
            
            **The<code style="color: red;"> v-once </code> directive is a Vue.js directive that is used to avoid unwanted re-renders of an element. It treats the element as a static content after rendering it once for the first time. This improves performance as it does not have to be rendered again.
          </p>
          <hr>
          <p v-html="bloglink"></p>
          <p style="background-color:skyblue;text-align: left; ">
    
            **The<code style="color: red;"> v-html </code> directive allows to replace the contents of the html element with the data in the vue instance
          <p>
            <a v-bind:href="link">clarusway</a>
          </p>
            <p style="background-color:skyblue;text-align: left">
              **The<code style="color: red;"> v-bind </code> directive allows html elements to be manipulated via the vue instance by connecting them to the attribute.
            </p>
        
      </div>
    
      <div class="section">
        <h3 class="sectionHeader">VUE Directives</h3>
        <h4 class="sectionHeader">v-on</h4>
        <button v-on:click="showAlert" class="button">Alert</button>
        <button v-on:click="showAlert('ibrahim')" class="button">Alert2</button>
        <hr>
        <p style="background-color:skyblue;text-align: left">
          In this example I learned about events in VUE js. v-on directive listens for dom events and makes the corresponding js code run when they are triggered.
          <br><br><br>
          When the left button is clicked, the event is printed in the alert because the parameter is not given to the function.
          <br><br><br>
          When the right button is clicked, the parameter given to the function is displayed in the alert.
        </p>
      </div>

      <div class="section">
        <h3 class="sectionHeader">VUE Directives</h3>
          <h4 class="sectionHeader">v-on</h4>
          <p class="counter">{{counter1}}</p>
          <button v-on:click="counter1++" class="button">Increase</button>
          <button v-on:click="counter1--"class="button">Decrease</button>
          <button v-on:click="reset" class="button">Reset</button>
          <p style="background-color:skyblue;text-align: left">
          In this example, functions that will change the value of counter are triggered by the click function. This event occurs in 2 ways. sample codes are shown below
          <br><br><br>
          
          <code> v-on:click="counter1++"</code>
          <br><br>
          <code> v-on:click="counter1--"</code>
          <br><br>
          <code> v-on:click="reset"</button>  </code>
          </p>
      </div>
   
    <div class="section">
      <h3 class="sectionHeader">VUE Event Modifiers</h3>
      <h4 class="sectionHeader">.stop //.prevent /.capture //.self //.passive //.once</h4>
      <p class="counter">{{counter}}</p>
      <hr>
        <p v-on:mousemove="showCoordinates(2,$event)" style="font-size: 20px;">
          Coordinates :x: {{x}}, y:{{y}}
          <br>
          <br>
          <span v-on:mousemove.stop
            style="color:rosybrown;font-weight:bold">Dont change values if mouse over me!!!</span
          >
        </p>  
        <hr> 
        <p>
          <p>
            This example focuses on the  <code style="background-color:wheat;padding:5px 10px;border-radius: 7px;">.stop</code>  modifiers
          </p>
          It is a very common need to call event.preventDefault() or event.stopPropagation() inside event handlers. Although we can do this easily inside methods, it would be better if the methods can be purely about data logic rather than having to deal with DOM event details.To address this problem, Vue provides event modifiers for v-on. Recall that modifiers are directive postfixes denoted by a dot.
          <br><br>
          Source: <a href="https://vuejs.org/v2/guide/events.html#Event-Modifiers" style="font-weight: bold;">Vue Event Modifiers</a>
        </p>

    </div>
    <div class="section">
      <h3 class="sectionHeader">VUE Key Modifiers</h3>
 
      <div>
        <input type="text" v-on:keyup.enter.space="showAlert" class="input" />
      </div>
      <p>
        
        When listening for keyboard events, we often need to check for specific keys. Vue allows adding key modifiers for v-on when listening for key events:
        You can directly use any valid key names exposed via KeyboardEvent.key as modifiers by converting them to kebab-case.
        <br><br>
        Source: <a href="https://vuejs.org/v2/guide/events.html#Key-Modifiers" style="font-weight: bold;">Vue Key Modifiers</a>
        <br><br>
        EXAMPLE:
        <br><br>
        v-on:keyup.page-down="onPageDown"
        <br> <br>
        v-on:keyup.enter.space="showAlert"
        <br>
      </p>
    </div>

    <div class="section">
      <h3 class="sectionHeader">VUE Directives</h3>
      <input type="text" v-model="name" placeholder="v-model exercise" class="input"/>
      <p>
      <small>
        Please press space after typing text...
        </small>
      </p>
      <p style="width: 80%;background-color: wheat;padding: 20px;border-radius: 10px;">{{name}}</p>
     <p>
      Vue’s two-way binding system takes one of the trickiest parts of developing a web application, user input synchronization, and makes it dead simple with v-model. The v-model directive updates the template whenever the model changes and updates data model whenever the template changes.

      Two-way binding is a powerful feature that, if used properly, can significantly speed up your development process. It reduces the complexity of keeping user input consistent with the application data model.
      
      In Vue, two-way binding is accomplished using the v-model directive.
     </p>
     Source: <a href="https://www.digitalocean.com/community/tutorials/vuejs-v-model-two-way-binding" style="font-weight: bold;">v-model for Two-Way Binding in Vue.js</a>
    </div>

    <div class="section">
      <h3 class="sectionHeader">VUE methods vs computed</h3>
        <p style="text-align: center;">{{result()}}  (methods)</p> <p style="text-align: center;">{{output}} (computed)</p>
        <p class="counter">{{counternew}}</p>
        <button v-on:click="counternew++"  class="button">Increase Counter</button>
        <button v-on:click="counternew--"  class="button">Decrease Counter</button>
        <p>
          <span style="font-weight: bold;">Methods:</span>   These are exactly what they sound like they might be (yay, naming!). They’re functions that hang off of an object—typically the Vue instance itself or a Vue component.
          <br><br>
          <span style="font-weight: bold;">Computed:</span> These properties may at first look like they’d be used like a method, but are not. In Vue, we use data to track changes to a particular property that we’d like to be reactive. Computed properties allow us to define a property that is used the same way as data, but can also have some custom logic that is cached based on its dependencies. You can consider computed properties another view into your data.
        </p>
        <p>
          Source: <a href="https://css-tricks.com/methods-computed-and-watchers-in-vue-js/" style="font-weight: bold;">V model vs computed</a>
        </p>
    </div>

   <div class="section">
    <h3 class="sectionHeader">VUE Shorthands (v-on,v:bind)</h3>

      <p class="counter">{{counter}}</p>
      <hr>
      <div>
        <p> <code>v-on:click</code> == <code> @click</code></p>
      <button v-on:click="counter++" class="button">Increasewith v-on</button>
      <button @click="counter++"  class="button">increasewith @</button>
    </div>
    <hr>
    <p> <code>v-bind:href</code> == <code>:href</code></p>
    <div style="display: flex;justify-content: space-around;">
      <p style="width:100px">
        <a v-bind:href="link">v-bind link</a>
      </p>
      <p style="width:100px">
        <a :href="link">: link</a>
      </p>
    </div>
   
  </div>
 
  <div class="section">
    <h3 class="sectionHeader">Dynamic CSS exercise with VUE</h3>
   <div class="example">
    <div 
    :class="{yellow:attchedClass}"
    class="box"
    @click="attchedClass=!attchedClass" 
     >Click me</div>
    <div 
    :class="divClass"
    class="box"
    @click="attchedClassMiddleBox=!attchedClassMiddleBox"
     >Click me</div>
    <div class="box" :class="color">box 3</div>
    <div class="box" :style="customStyle" >box 4</div>
   
  </div>
  <hr>
  <h4>Available classes:</h4>
  <div class="colors">
    <p>1.green</p>
    <p>2.yellow</p>
    <p>3.red</p>
  </div>
  <input type="text" placeholder="enter class name for box 3" v-model="color" class="input">
  <hr>
  <input type="text" v-model="newColor" class="input" placeholder="enter colorName for box4">
  <input type="text" v-model="height" class="input" placeholder="enter height for box4">
  <hr>
    <p>
      In this example, I tried to give a dynamic style to HTML elements with VUE.js.When you click on the first and second boxes , the property in the Vue instance changes dynamically and the CSS class gets its new value accordingly.
      <br> <br>
      The css class value of box 3 is changed with input.
      <br> <br>
      The color value of box 4 is changed with input.
      <br>
      The height value of box 4 is changed with input.
    </p>

        </div> 


        <div class="section" >
          <h3 class="sectionHeader">EXERCISE</h3>
          <div class="exercisebox">
              <div :class="selectedClass" id="effect">
              When you click the button, the color and width value will change every second.
              </div>
              <button class="button1" @click="changeFlag">Start</button>
          </div>
          <div class="exercisebox">
              <div :class="[{boxHeight:true},{boxWidth:true},{boxColor:true}]">
                i dont have any class yet
              </div>
          </div>
          <div class="exercisebox">
              <p>Enter className</p>
              <p>1.box <br> 2.hightlight <br>  3.shrink <br> 4.box <br>  5.green <br>  6.red <br> 7.button</p>
              <input type="text" v-model="className" class="input">
             
              <div :class="className" id="effect"></div>
          </div>
          <div class="exercisebox">
            <p>1.shrinkWidth---2.mediumWidth---3.largeWidth</p>
            <input type="text" v-model="className4Width" class="input" placeholder="enter class name for width" >
            <p>1.smallHeight---2.mediumHeight---3.heighHeight</p>
            <input type="text" v-model="className4Height" class="input" placeholder="enter class name for height">
            <div class="box" :class="[className4Height,className4Width]"></div>
          </div>
          <div class="exercisebox">
            <input type="text" v-model="backgrounColor" class="input" placeholder="enter colorName"  >
            <div class="box" :style="customStyle1"></div>
          </div>
          <div class="exercisebox">
            <div class="progressContainer">
              <div :style="{width: barLength+'px'}" style="height: 10px;background-color: red;"></div>
              <p>{{barLength}}</p>
            </div>
            <button @click="startProgress" class="button1">Start Progress</button>
          </div>
      </div>

      <div class="section">
        <h3 class="sectionHeader">v-if v-show</h3>
        <p v-if="show">Now you see me 1</p>
        <p v-else>Now you see me 2</p>
        <button @click="show=!show" class="button">Show /Hide</button>

        <p v-if="number>10">Number > 10 </p>
        <p v-else-if="number<10">Number < 10</p>
        <p v-else>Number : 10</p>
        <button @click="number++" class="button">Increase</button>
        <button @click="number--" class="button">Decrease</button>
        <hr>

        <button @click="showPar=!showPar" class="button">Show/Hide</button>
        <p v-show="showPar">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quidem non, sed quia molestias necessitatibus voluptatibus nesciunt illum libero aspernatur.</p>
      </div>

      <div class="section">
        <h3 class="sectionHeader">V-for--template</h3>
        <div v-for="(product,index) in products" style="border:1px solid red">
          <p>{{product}}--{{index}}</p>
        </div>

        <template  v-for="(product,index) in products">
          <p>{{product}}--{{index}}</p>
        </template>
        <button @click="products.push('soundspeaker')" class="button">Add</button>
      </div>
      <div class="section">
        <ul>
          <li v-for="person in persons">
            <ul>
              <li v-for="(item,key,index) in person" :key="index"> {{key}}:{{item}} {{index}}</li>
            </ul>
          </li>
        </ul>
        <span v-for="i in 5">{{i}},</span>
      </div>
      <div class="section">
        <div class="exercisebox">
          <p v-if="flag">Now you see me 1</p>
          <p v-else>Now you see me 2</p>
          <button class="button" @click="flag=!flag">toggle (v-if)</button>
          <hr>
          <p v-show="flag1">Now you see me 1</p>
          <p v-show="!flag1">Now you see me 2</p>
          <button class="button" @click="flag1=!flag1">toggle(v-show)</button>
        </div>
        <div class="exercisebox">
          <p>data:myArr=["walter","edward","john"]</p>
          <ul>
            <li v-for="(el,i) in myArr" :key="i">{{i}}--->{{el}}</li>
          </ul>
        </div>
        <div class="exercisebox">
          <p>    customObj:{
            title:"Game of Thrones",
            author:"George R.R",
            books:"7"
          }</p>
     
          <ul>
            <li v-for="(item,key,index) in customObj">
              <strong>{{key}}:</strong>{{item}}--index:{{index}}
            </li>
          </ul>
        </div>
        <div class="exercisebox">
          <ul>
            <li v-for="(item,key,index) in testData">
              <strong>{{key}}:</strong>{{item}}--index:{{index}}
             <ul v-if="key=='data' ">
               <li v-for="item in item">{{item}}</li>
             </ul>

            </li>
          </ul>
        </div>

      </div>
 
    </div>





    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
